@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  @apply border border-red-500;
}

body {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
