@tailwind base;
@tailwind components;
@tailwind utilities;


.debug{
  @apply border border-red-500;
}

body{
  background-color:#fff;
}








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.container {
    background-color: hsl(36, 100%, 99%);
    width: 85%;
    height: 100%;
    margin: 30px auto;
}

header {
    flex-flow: row wrap;
}





































































